.username {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #525252;
}
.yourstorages {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 63px;
  display: flex;
  align-items: center;
  margin-top: 0px;
  color: #1a1a1a;
}
.storagesection {
  background: #ffffff;
  width: 1200px;
  margin: auto;
}
.storage-section-text {
  flex-direction: column;
  display: flex;
  width: 421.16px;
  height: 95px;
}

.username-hi {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #525252;
  margin-top: 23px;
  margin-bottom: 2px;
}
.storage {
  border-radius: 52px;
  margin-top: 31px;
  height: 306px;
  width: 213px;
  background-color: #7a9947;
  border-radius: 9px solid 52px;
}
#borderDemo {
  height: 306px;
  width: 213px;
  background-color: #7a9947;
  border: 9px solid #1c6ea4;
}
.bottom-side {
  bottom: 0;
  width: 100%;
  color: #ffffff;
  margin-top: 193px;
}
.storage-photo {
  position: absolute;
  padding-left: 42px;
  padding-top: 101px;
}
.dangerous_icon {
  position: absolute;
  border-radius: 50%;
  margin-left: 178px;
  height: 38px;
  width: 38px;
  background-color: rgb(255, 255, 255);
}
.notification {
  position: absolute;
  margin-left: 87.5px;
  margin-top: 240px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 38px;
  width: 38px;
}
.storages {
  display: flex;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 83px;
}
.storage-add {
  border: 9px solid #93b864;
  background: #f1ffdf;
  border-radius: 52px;
  margin-top: 31px;
  height: 288px;
  width: 195px;
}
.plus {
  margin-left: 60px;
  margin-top: 115px;
}
.instruction {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
  /* or 51px */
  width: 502px;
  height: 153px;
  margin-left: 120px;
  margin-top: 31px;
  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}
.someSpan {
  text-decoration: wavy;
  color: #93b864;
}
.nub {
  text-decoration: none;
}
