.nav-bar {
  display: flex;
  width: 1200px;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  place-items: center;
  margin: auto;
  border-bottom: 2px solid #d9d9d9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.profile {
  width: 169px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.YaMriy {
  width: 54px;
  height: 42px;
  padding-top: 13px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.grainsens {
  width: 116px;
  height: 29px;
  padding-top: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.username {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.59);
}
.header {
  background: #ffffff;
}
.storage-name {
  position: absolute;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14.355px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9cb96f;
  border-radius: 13.5px;
  color: #eff3f6;
  margin-left: 37px;
  margin-top: 32px;
  width: 138px;
  height: 31px;
}
